body
{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-color: #ffe5ec; 
}

.button {
    display: inline-block;
    padding: 0.8em 1.5em;
    margin-top: 1.5em;
    background-color: #ff87a2;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
    background-color: #ff6b8f;
}

.homeButton {
    display: inline-block;
    padding: 0.8em 1.5em;
    margin-top: 1.5em;
    background-color: #8e59c0;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.homeButton:hover {
    background-color: #a37de0;
}

.resources {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 2px;
    margin: 0 auto;
}

.help-form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    background-color: rgba(252, 211, 211,.7);
    width: 380px;
    height: 430px;
}

.form-group {
  width: 390px;
  height: 130px
}



.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.end-statment {
    display: flex;
    justify-content: center;
}

.main-content {
    text-align: center;
}

.button [type=text] {
    min-width: 200px;
}

#name {
    width: 310px;
    height: 50px;
    padding: 10px;
    margin: 5px;
    font-size: large;
}

#email {
    width: 310px;
    height: 50px;
    padding: 10px;
    margin: 5px;
    font-size: large;
}

#message {
    width: 330px;
    height: 100px;
    padding: 10px;
    margin: 5px;
    font-size: medium;
}

.quote-text {
    padding: 2px;
    margin: 0 auto;
    color:salmon;
}
